body {
  background: rgb(0, 0, 0);
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.content {
  padding: 100px;
  border: 5px solid #a50e0e;
}

.content:hover .content-circle {
  animation-play-state: paused;
}

.content-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #ee0404;
  border-radius: 50%;
  position: relative;
  left: 0;

  animation-name: white-circle;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: galternate-reverse;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

@keyframes white-circle {
  0% {
    left: 0;
  }
  50% {
    border-radius: 0%;
  }
  100% {
    left: 780px;
  }
}
